<a href="https://colab.research.google.com/github/kashisabari2008-cpu/ict_assignments/blob/main/assignment03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

question 1

In [ ]:
# Write a Python function to find the Max of three numbers

In [ ]:
max(12,33,45)

45

question 2

In [ ]:
list=[18, 12, 30,10, 7]
s=0
for i in list:
    s=s+i
print(s)

77

question 3

In [ ]:
number=[23,44,55,77,99]

In [ ]:
number.insert(2,88)

In [ ]:
number

[23, 44, 88, 55, 77, 99]

question 4

In [ ]:
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
sample_dict.pop("city")
sample_dict.update({"location":"New york"})

In [ ]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

question 5

In [ ]:
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

question 6

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)

new_tuple =(tuple1[3],tuple1[4])

print(new_tuple)

(44, 55)

question 7

In [ ]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
count_50 = tuple1.count(50)
print(f"The number of occuirence of 50 is: {count_50}")

The number of occuirence of 50 is: 3